body {
    border-radius: 3px;
    border: 7px double #0B6261;
}

h5 {
    margin: 0;
    line-height: 0 !important;
}

p {
    font-size: 1.5vh !important;
}

img {
    height: 175px;
}

.watch-info {
    color: white;
    text-align: center;
}

.gallery {
    /* top: -40vh;
    height: 1vh; */
}

.gallery-col {
    height: 150px !important;
}

.gallery-col a {
    height: 175px !important;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    margin: 15px !important;
}