body {
  background-color: black;
  white-space: pre-wrap;
  height: 100vh !important;
  max-height: 100vh !important;
  font-family: 'Playfair Display', serif;
  font-size: 2.5vh;
}

a {
  color: black;
}

a:hover {
  color: black !important;
  text-decoration: none !important;
}

.footer-menu a:hover {
  color: white !important;
  text-decoration: underline white !important;
}

.footer-menu{
  position: fixed;
  bottom: 30px;
  left: 10px;
}

.button-clave {
  max-height: 5vh;
  height: 37px;
}

.custom-button{
  color: white;
  font-size: 2.5vh;
}

.iso-logo {
  position: fixed;
  top: 50px;
  left: 50px;
  height: 22vh;
}